<%- include("./partials/head") %>

    <h1>Displaying All Flights:</h1>
    <% for(let i of flights) { %>
        <li>
            Flight Number: <%= i.flightNo %> <br>
            Airport Code: <%= i.airport %> <br>
            Airline: <%= i.airline %> <br>
            Departure:  <% if(i.departs > new Date()) { %>
                            <%= i.departs %> 
                        <% } else { %> 
                           <span><%= i.departs %></span>
                        <% } %>
        </li>
    <% } %>
   

</body>
</html>